<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ title || "Local de depósito"}}</h4>
    </div>
    <div class="modal-body">


      <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="form-horizontal">
        <div class="form-group" [ngClass]="{ 'has-error': !local.valid && local.touched }">
          <label for="local" class="control-label col-sm-2" style="text-align: left">Local:</label>
          <div class="col-sm-10">
            <select name="local" id="local" class="form-control" [ngModel]="deposit._place" required #local="ngModel">
              <option *ngFor="let place of places" value="{{ place.code }}">{{ place.name }}</option>
            </select>
          </div>
        </div>

        <div class="form-group">
            <label for="status" class="control-label col-sm-2" style="text-align: left">Status:</label>
            <div class="col-sm-10">
              <select type="text" class="form-control" id="status" name="status" [ngModel]="deposit.status" >
                <option value="pendente">pendente</option>
                <option value="validado">validado</option>
                <option value="invalidado">invalidado</option>
              </select>
            </div>
          </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Ok</button>
          <button type="button" class="btn btn-default" (click)="close()">Cancelar</button>
        </div>

      </form>
    </div>
  </div>

</div>
