<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">&times;</button>
      <h4 class="modal-title">{{ title || "Local de depósito"}}</h4>
    </div>
    <div class="modal-body">


      <form #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-horizontal">
        <div class="form-group">
          <label for="user" class="control-label col-sm-2" style="text-align: left">Id do usuário:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="user" name="user" maxlength="150" [ngModel]="deposit._user" required #user="ngModel">
          </div>
        </div>

        <div class="form-group">
          <label for="local" class="control-label col-sm-2" style="text-align: left">Código do local:</label>
          <div class="col-sm-10">
            <input type="text" id="local" class="form-control" name="local" maxlength="30" [ngModel]="deposit._place" #local="ngModel" required>
          </div>
        </div>

        <div class="form-group">
          <label for="status" class="control-label col-sm-2" style="text-align: left">Status:</label>
          <div class="col-sm-10">
            <input type="text" id="status" class="form-control" name="status" maxlength="150" [ngModel]="deposit.status" #status="ngModel" required>
          </div>
        </div>

        <div class="form-group">
          <label for="dataCriacao" class="control-label col-sm-2" style="text-align: left">Data de criação:</label>
          <div class="col-sm-10">
            <input type="text" id="dataCriacao" class="form-control" name="dataCriacao" maxlength="150" [ngModel]="formatDate(deposit.created)" #dataCriacao="ngModel">
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Ok</button>
          <button type="button" class="btn btn-default" (click)="close()">Cancelar</button>
        </div>

      </form>
    </div>
  </div>

</div>
